<!-- Footer -->
<footer class="white-section" id="footer">
    <div class="container-fluid">
        <i class="f-icon fab fa-twitter"></i>
        <i class="f-icon fab fa-facebook-f"></i>
        <i class="f-icon fab fa-instagram"></i>
        <i class="f-icon fas fa-envelope"></i>
        <p class="f-para">© Copyright 2019 Rolling Rental's</p>

</footer>
</div>

</body>

</html>