<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sedan Inventory</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
        integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6334ff0bc2.js" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles2.css">
    <!-- jQuery stylesheet -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
        integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous">
    </script>
</head>

<body class="bgColor">
    <a href='/index' class="sbtn btn btn-lg btn-primary" type="button">Return to homepage</a>
    <section class="colored-section" id="testimonials">
        <div id="testimonial-carousel" class="carousel slide" data-ride="false">
            <div class="carousel-inner">
                <form action="/inventory1" method="post">
                    <div class="carousel-item active container-fluid">
                        <img class="testimonial-image-car" src="images/blue-sedan.png" alt="blue-sedan">
                        <h2 class="testimonial-text">2016 Nissan Altima</h2>
                        <button class="btn btn-md btn-primary" type="submit" name="carName" value="bsedan">Add to
                            cart</button>
                    </div>
                    <div class="carousel-item container-fluid">
                        <img class="testimonial-image-car" src="images/grey-sedan.png" alt="grey-sedan">
                        <h2 class="testimonial-text">2016 Honda Civic</h2>
                        <button class="btn btn-md btn-primary" type="submit" name="carName" value="gsedan">Add to
                            cart</button>
                    </div>
                    <div class="carousel-item container-fluid">
                        <img class="testimonial-image-car" src="images/red-sedan.png" alt="red-sedan">
                        <h2 class="testimonial-text">2016 Toyota Camry</h2>
                        <button class="btn btn-md btn-primary" type="submit" name="carName" value="rsedan">Add to
                            cart</button>
                    </div>
                </form>
            </div>
            <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </section>
</body>

</html>